<section class="featured-book">
  <div class="book-image">
    <img src="assets/Images/Featured.png" alt="Birds Gonna Be Happy">
  </div>
  
  <div class="book-details">
    <h2>Featured Book</h2>
    <span class="author">BY TIMBUR HOOD</span>
    <h3>Birds Gonna Be Happy</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac.</p>
    <div class="price">$45.00</div>
    
    <div class="buttons">
      <button class="view-more">VIEW MORE →</button>
    </div>
  </div>
</section>
