<section class="newsletter-section">
  <div class="newsletter-content">
    <h2>Subscribe to Our Newsletter</h2>
    <p>
      Sed eu feugiat amet, libero ipsum enim pharetra hac dolor sit amet,<br>
      consectetur. Elit adipiscing enim pharetra hac.
    </p>
    <form class="subscribe-form">
      <div class="input-container">
        <span class="email-icon">📧</span>
        <input type="email" placeholder="youremail123@gmail.com" required>
      </div>
      <button type="submit">SUBSCRIBE</button>
    </form>
  </div>
</section>
