<div class="text p-5 w-100 text-center">
  <h2 class="mb-2 ">Welcome back!</h2>
  <p class="text-muted">Login to your account</p>
</div>


<form [formGroup]="login" (ngSubmit)="Submitting(login)">

  <div class="EmailField mb-3">
    <label for="mail" class="form-label">E_mail</label>
    <input type="text" class="form-control" id="mail" placeholder="xyz@somewhere" formControlName="e">
  </div>


  <div class="PasscodeField mb-3">
    <label for="pass" class="form-label">Password</label>
    <input type="password" class="form-control" id="pass" formControlName="p">
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="remember" style="color:blueviolet">
    <label class="form-check-label" for="remember" style="color:blueviolet">Remember Me</label>
  </div>

  <div class="login">
    <button type="button"   class="btn w-100 mb-3 py-2" [style]=Loginbtn  routerLink='/auth/in' [disabled]="login.invalid">Login</button>
  </div>


  <div class="register">
    <button type="button"  class="btn w-100 mb-3 py-2 outline-btn"  routerLink='/auth/up'>Register</button>
  </div>

</form>
