<div class="slider-container">
  <div class="text-section">
    <h1>BS</h1>
    <p>Welcome to BS — Your Gateway to Endless Stories! <br>

      Dive into a world of imagination, knowledge, and inspiration with our curated collection of books.<br> Whether you're a passionate reader, a curious learner, or a gift-seeker, our bookstore offers something for everyone.

      <br>  Explore bestselling novels, timeless classics, children's favorites, and the latest new releases — all just a click away.

      ✨<br> Fast delivery, great deals, and a love for books — that's what defines us.

      Begin your next reading adventure today at [Your Store Name]!


    </p>
    <button mat-stroked-button class="read-more-btn">
      READ MORE <mat-icon>arrow_forward</mat-icon>
    </button>

  </div>

  <div class="image-section">
    <img src="assets/Images/MasterBook.png" alt="Book Image" >
  </div>

</div>
