<div class="header-ribbon">
  <div class="left-section">
    <mat-icon class="ribbon-icon">phone</mat-icon>
    <span class="phone-number">+91 8374902234</span>
  </div>

  <div class="right-section">
    <a href="#" matTooltip="Facebook" aria-label="Facebook">
      <mat-icon class="social-icon">facebook</mat-icon>
    </a>
    <a href="#" matTooltip="x" aria-label="Twitter">
      <mat-icon class="social-icon">twitter</mat-icon>
    </a>
    <a href="#" matTooltip="Instagram" aria-label="Instagram">
      <mat-icon class="social-icon">instagram</mat-icon>
    </a>
    <a href="#" matTooltip="LinkedIn" aria-label="LinkedIn">
      <mat-icon class="social-icon">linkedin</mat-icon>
    </a>
  </div>
</div>
